<div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 w-50 bd-highlight">
      <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" [(ngModel)]="EmployeeName">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Department</span>
        <input type="text" class="form-control" [(ngModel)]="Department">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Email</span>
        <input type="text" class="form-control" [(ngModel)]="EmailId">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">DOJ</span>
        <input type="date" class="form-control" [(ngModel)]="DOJ">
      </div>
    </div>
  </div>
  <button type="button" (click)="addEmployee()" *ngIf="emp.EmployeeID=='0'" class="btn btn-primary">
    Create
  </button>
  
  <button type="button" (click)="updateEmployee()" *ngIf="emp.EmployeeID!='0'" class="btn btn-primary">
    Update
  </button>